@import url('http://fonts.googleapis.com/css?family=Bad+Script');
body {
  --header-height: 60px;
}
.carousel {
  height: calc(100vh - var(--header-height));
  background-color: rgba(134, 64, 148, 0.493)
}
div > h1 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: 'Bad Script', cursive;
}
h1 > i {
  display: table-cell;
  animation: neon 2s linear infinite;
  font-weight: bold;
}
h1 > i:nth-child(01) {animation-delay: 0.0s}
h1 > i:nth-child(02) {animation-delay: 0.1s}
h1 > i:nth-child(03) {animation-delay: 0.2s}
h1 > i:nth-child(04) {animation-delay: 0.3s}
h1 > i:nth-child(05) {animation-delay: 0.4s}
h1 > i:nth-child(06) {animation-delay: 0.5s}
h1 > i:nth-child(07) {animation-delay: 0.6s}
h1 > i:nth-child(08) {animation-delay: 0.7s}
h1 > i:nth-child(09) {animation-delay: 0.8s}
h1 > i:nth-child(10) {animation-delay: 0.9s}
h1 > i:nth-child(11) {animation-delay: 1.0s}
h1 > i:nth-child(12) {animation-delay: 1.1s}
h1 > i:nth-child(13) {animation-delay: 1.2s}
h1 > i:nth-child(14) {animation-delay: 1.3s}
h1 > i:nth-child(15) {animation-delay: 1.4s}
h1 > i:nth-child(16) {animation-delay: 1.5s}
h1 > i:nth-child(17) {animation-delay: 1.6s}
h1 > i:nth-child(18) {animation-delay: 1.7s}
h1 > i:nth-child(19) {animation-delay: 1.8s}
h1 > i:nth-child(20) {animation-delay: 1.9s}

@keyframes neon {
  0%, 100% {
    color: #fff;
    filter: blur(2.5px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
  }
  5%, 95% {
    color: rgba(0, 0, 0, 0.3);
    filter: blur(0px);
    text-shadow: none;
  }
}

.carousel-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  height: calc(100vh - var(--header-height));
}
.carousel-vid {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carousel-caption {
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)  );
  left: 30%;
  right: 30%;
  border-radius: 5px;
}
header {height: var(--header-height)}
a.social-media i {
  font-size: 1.5em;
  width: 32px;
  height: 32px;
  line-height: 32px;
  transition: 0.4s;
}
a.social-media:hover i {
  transform: scale(2);
  transition: 0.2s;
  border: 1px solid white;
  border-radius: 2px;
}
a.social-media:hover i.fa-facebook-f   {background-color: #3b5998}
a.social-media:hover i.fa-twitter      {background-color: #00aced}
a.social-media:hover i.fa-google-plus-g{background-color: #dd4b39}
a.social-media:hover i.fa-whatsapp     {background-color: #34af23}
a.social-media:hover i.fa-instagram    {background-color: #517fa4}
a.social-media:hover i.fa-youtube      {background-color: #bb0000}
a.social-media:hover i.fa-linkedin-in  {background-color: #0976b4}
.footer-copyright a::after{
  font-size: 0em;
  content: " the creator!";
  transition: 0.1s;
  color: black;
}
.footer-copyright a:hover::after{
  content: " the creator!";
  color: white;
  font-size: 0.9em;
  transition: 0.2s;
  transform: scale(0.9);
}
.footer-copyright a:hover {
  text-decoration: none;
}